body
{background-color: rgb(255, 128,0);
padding: 200px;}
        h1 {font-size: 50px; 
            font-weight: bold; 
            color: rgb(64,0,64); }
        h2 {font-size: 30px;}
        ul {font-size: 24px;}
